body {
    margin: 0px;
    padding: 0px;

    width: 250px;
    height:350px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, Roboto, sans-serif;
    font-size: 17px;
    font-weight: 350;
    color: aliceblue;

    border: 1px solid  black;
}

#content-blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.bold-text {
    font-weight: 600;
}

/*background color*/
body, #content-blocker {
    background: rgb(17,0,0);
    background: -moz-linear-gradient(0deg, rgba(17,0,0,1) 0%, rgba(46,0,0,1) 40%, rgba(62,0,0,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(17,0,0,1) 0%, rgba(46,0,0,1) 40%, rgba(62,0,0,1) 100%);
    background: linear-gradient(0deg, rgba(17,0,0,1) 0%, rgba(46,0,0,1) 40%, rgba(62,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#110000",endColorstr="#3e0000",GradientType=1); 
}

#power-button {
    width: 90px;
    height: 90px;
    padding: 20px;
    padding-bottom: 0;
}

select {
    margin: 0;
    padding: 0;
    box-shadow: none;
    background: transparent;
    background-image: none;
    color: inherit;
    font: inherit;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    border-radius: 0;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width:fit-content;
}


option {
    color: black;
}

select:focus {
    outline: none;
}

.select-icon {
    width: 15px;
    height: 15px;
    padding-right: 2px;
    pointer-events: none;
}

#power-button:hover {
    cursor: pointer; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.seperator {
    align-self: stretch;
    width: 100%;
    height: 0;
    /*border-bottom: 1px solid #11111133;*/
    margin-bottom: 15px;
    margin-top: 15px;
}

.slider-container {
    align-self: stretch;
}

.text-container {
    height: 30px;
}

.text-container, .select-container {
    align-self: stretch;
    margin: 5px;
    text-align: center;

}


/* The range slider */

input[type='range'] {
    -webkit-appearance: none;
    background-color: #858585;
    height: 3px;
    width: 95%;
    margin: 5px;
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 3px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #f00;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border: 0;
}

input[type='range']::-moz-range-thumb {
    background: #f00;
    border-radius: 50%;
    
    cursor: pointer;
    height: 20px;
    width: 20px;
    border: 0;
}

input[type="range"]::-moz-range-track {
    background-color: #858585;
}

input[type="range"]::-moz-range-progress {
    background-color: #f00;
    height: 3px
}

input[type="range"]::-ms-fill-upper {
    background-color: #858585;
}

input[type="range"]::-ms-fill-lower {
    background-color: #f00;
}